<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__ADPUTATE_SERVICE_LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__ADPUTATE_BIN__</string>
    <string>start</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__ADPUTATE_LOG_DIR__/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__ADPUTATE_LOG_DIR__/launchd.err.log</string>
</dict>
</plist>
